h2 {
    margin-top: 0;
}

form {
    margin-bottom: 10px;
}

header {
    margin-bottom: 19px;
    padding-bottom: 19px;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

footer {
    margin-top: 19px;
    padding-top: 19px;
    padding-bottom: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    text-align: center;
}

#conversion {
    font-size: 16px;
    font-weight: bold;
}
