/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
	BEGIN MY CSS
*/

* {
    /* outline: 1px solid black; */
}

html, body {
    height: 100%;
    font-family: Arial;
    font-size: 13px;
}

a:link,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#view {
    height: 100%;
    min-height: 500px;
    margin-bottom: -45px;
}

label,
legend {
    display: none;
}

section {
    min-width: 980px;
}

#top {
    position: relative;
}

#top nav {
    position: absolute;
    right: 0;
    padding: 10px;
}

#top nav ul,
#bottom nav ul {
    list-style-type: none;
}

#top nav ul li,
#bottom nav ul li {
    display: inline-block;
    vertical-align: middle;
    color: #666;
}

#top nav ul li {
    margin-right: 10px;
    color: #333;
}

#logo {
    padding-top: 90px;
    text-align: center;
}

#logo img {
    width: 400px;
}

#search {
    text-align: center;
    padding: 15px;
}

#search input {
    margin: 5px;
}

#search input[type=text] {
    background: url('images/microphone.png') right no-repeat;
    background-size: 24px;
    width: 500px;
    border: 1px solid #ddd;
    padding: 8px;
    font-family: Arial;
    font-size: 14px;
}

#search input[type=text]:hover {
    border: 1px solid #ccc;
}

#search input[type=text]:active {
    border: 1px solid blue;
}

#search input[type=submit] {
    border: 1px solid #ddd;
    background: #efefef;
    padding: 7px;
    font-weight: bold;
    color: #444;
    border-radius: 2px;
}

#search input[type=submit]:hover {
    border: 1px solid #ccc;
    box-shadow: 0px 1px 0px #ccc;
}

#note {
    text-align: center;
    padding: 15px;
}

#bottom {
    position: relative;
    padding: 15px;
    background: #eee;
    border-top: 1px solid #ddd;
}

#bottom ul li {
    padding-left: 10px;
    padding-right: 10px;
}

#bottom .left {
    float: left;
}

#bottom .right {
    float: right;
}

#bottom .clear {
    clear: both;
}

.link {
    color: blue;
}

.grid {
    width: 23px;
}

.button {
    background-color: #1C86EE;
    padding: 8px;
    padding-left: 11px;
    padding-right: 11px;
    font-weight: bold;
    border-radius: 2px;
}